<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ready to print?
      <ion-icon name="bluetooth-outline" [ngClass]="classStatus"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<span>Printer Status: {{classStatus}}<ion-icon name="bluetooth-outline" [ngClass]="classStatus"></ion-icon></span>
  
  
  <div id="container">

    <ion-button expand="block" (click)="connectPrinter()">Start Printer</ion-button>
    <hr>
    <ion-button expand="block" (click)="printText()">Print text [TOP RIGHT]</ion-button>
    <hr>
    <ion-button expand="block" (click)="printPDF()">Print PDF</ion-button>
    <hr>

   </div>
</ion-content>
